.dashboardContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 60px;
    width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 250px);
}

.campaignBox, .categoryBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.campaignBox {
}

.campaignBoxHidden :global(.fa-play), .categoryBoxHidden :global(.fa-play) {
    transform:rotate(270deg);
}

.campaignBoxHidden .campaignName, .categoryBoxHidden .campaignName {
    opacity: 0.3;
}

.campaignBoxHidden .campaignItemsContainer {
    display: none;
}

.categoryBoxHidden .categoryItemsContainer {
    display: none;
}

.categoryBox {
    margin: 10px 0;
}

.campaignName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    padding: 8px 5px;
    color: #484848;
    margin-left: 5px;
}

.campaignName:hover {
    color: #000;
}

.campaignName span {
    cursor: pointer;
}

.categoryName {
    font-size: 15px;
    padding: 0 5px;
}

:global(.fa-play) {
    transform:rotate(90deg);
    font-size: 12px;
    margin-right: 10px;
}

.categoryBox :global(.fa-play) {
    font-size: 10px;
}

.categoryName {
    padding: 0 15px;
}

.campaignItemsContainer, .categoryItemsContainer {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.campaignItemsContainer::-webkit-scrollbar, .categoryItemsContainer::-webkit-scrollbar {
    display: none;
}

.campaignItemsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.categoryItemsContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px 30px;
}

.campaignItem {
    padding-top: 18px;
    width: 210px;
    margin: 7px 10px;
    box-shadow: rgb(0 0 0 / 16%) 0 1px 2px 0;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #fff;
}

.campaignItem:hover {
    cursor: pointer;
    border: 2px solid rgba(65, 155, 249, 0.3)
}

.campaignItem:hover .campaignImg {
    transform: scale(1.01, 1.03);
    margin-left: 1px;
    transition-property: transform, margin, border;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.campaignMeta {
    display: flex;
    flex-direction: column;
    padding: 10px 16px 8px;
    font-size: 13px;
}

.campaignDesc {
    -webkit-box-orient: vertical;
    color: rgb(72, 72, 72);
    display: -webkit-box;
    font-size: 11px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    height: 26px;
    margin: 0;
}

.campaignPrice {
    display: flex;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.36px;
    line-height: 20px;
    margin: 20px 0;
    color: #484848;
}

.campaignRateSection {
    display: flex;
}

.campaignRateSection div {
    padding-right: 15px;
}

:global(.fa-star) {
    color: #ff6000;
}

.score, .campaignReviews {
    font-weight: bold;
    margin-left: 5px;
}

.reviewText {
    font-size: 12px;
    margin-left: 3px;
}

.dot {
    display: inline-block;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    height: 3px;
    width: 3px;
}

.campaignReviewContainer {
    display: flex;
    align-items: center;
}

.campaignEarning {
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 16px;
    color: #419bf9;
    font-size: 10px;
}

.hoover {
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: #ff6000;
    pointer-events:none;
}

.hoover.hooverVisible {
    display: flex;
}

.hoover button {
    border-radius: 3px;
    background-color: #ff6000;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
}

.campaignItemHovered .campaignMeta {
    opacity: 0.2;
}
