.navigationWrapper {
    display: flex;
    margin: 0;
}

.optionsButton {
    display: flex;
    align-items: center;
    position: relative;
    background: transparent none;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #484848;
    padding: 0 5px;
}

.optionsButton::before {
    content: "•";
    font-size: 40px;
    margin-right: 5px;
}

.selected {
    color: #419bf9;
}
